<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sonrise</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="style/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>


<body>
    {{{ body }}}
</body>

<!--  Scripts-->


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="style/js/materialize.js"></script>
<script src="style/js/init.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <script src="../../public/style/js/firebase.js"></script> 
    <script src="../../public/style/js/login.js"></script>

</html>