<nav class="brown" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="index.html" class="brand-logo">SonRise</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="profile.html">Profile</a></li>
          {{!-- <li><a href="mentor.html">Mentor</a></li>
          <li><a href="mentee.html">Mentee</a></li> --}}
          <li><a class="brown-text waves-effect waves-light btn-small" id="logout">Log out</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
         <li><a href="profile.html">Profile</a></li>
          <li><a href="mentor.html">Mentor</a></li>
          <li><a href="mentee.html">Mentee</a></li>
          <li><a class="brown-text waves-effect waves-light btn-small" id="logout">Log out</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  {{> mentors}}
  <footer class="page-footer brown">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of developer students working on this project like it's our full time job.  Please support our mission</p>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text">Our Team</h5>
          <ul>
            <li><a class="white-text" href="#!">Amy Schillerstrom</a></li>
            <li><a class="white-text" href="#!">Chase Pritchett</a></li>
            <li><a class="white-text" href="#!">Kat Lewis</a></li>
            <li><a class="white-text" href="#!">Monir Cederstrom</a></li>
            <li><a class="white-text" href="#!">Wendy Kiddy</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <!--Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>-->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  
